:root {
  --cards: 4;
  --cardHeight: 87vh;
  --cardTopPadding: 1.5em;
}

.cards-container {
  width: 90%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards), var(--cardHeight));
  padding-bottom: calc(var(--cards) * var(--cardTopPadding));
  color: white;
}

.cards-container .card {
  position: sticky;
  top: 0;
  padding-top:var(--cardTopPadding);
  transition: all 0.5s;
}

.cards-container::-webkit-scrollbar {
  display: none;
}