

.card {
        padding: 16px;
        margin: 16px;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        position: sticky;
        top: 0;
        background-color: rgb(65 65 65);
        justify-content: center;
        align-items: center;
        height: 450px;
        max-width: 640px;
        box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
        border-radius: 15px;
}

.card-container{
        height: 400px;
    display: flex
;
    width: 600px;
    flex-direction: column;
        background-color: rgb(54 53 53);
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
        border-radius: 15px;
}
.card-container>img{
        overflow: hidden;
        width: 100%;
}
.card-content{
        display: flex;
        flex-direction: column;
        align-items: baseline;
}
.card-image {
        width: 100%;
        height: auto;
        border-radius: 8px;
        overflow: hidden;
}

.card-link{
        text-decoration: none;
        cursor: pointer;
        color: white;
        padding-bottom: 10px;
}
